<h1> Stupid Coaching </h1>


<body>

  <div id="container">

    <div>
      <%= @question %>
    </div>

    <div id="ans">
      <%= @answer %>
    </div>

  </div>

<%= link_to "Ask a new question", ask_path %>

</body>


