<html>

<h1> Stupid Coaching </h1>

<form action="/answer">
  <label for="fname">Ask your coach anything:</label><br>
  <input type="text" name="user">
  <input type="submit" value="Ask" class="btn">
</form>

</html>
